<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/scripts.js}" defer></script>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#general">General</a></li>
        </ul>
    </div>

	<div class="content">
	    <div class="section" id="general">
	        <h2>General</h2>
	        <form th:action="@{/users}" method="post" th:object="${user}">
	            <div class="form-group">
	                <label for="username">Username</label>
	                <input type="text" id="username" th:field="*{username}" class="form-control" required>
	            </div>
	            <div class="form-group">
	                <label for="password">Password</label>
	                <input type="password" id="password" th:field="*{password}" class="form-control" required>
	            </div>
	        </form>
	    </div>
		
	    <div class="section" id="preferences">
	        <h2>Preferences</h2>
	        <form th:action="@{/users}" method="post" th:object="${user}">
	            <div class="form-group">
	                <label for="currency">Currency</label>
	                <select id="currency" th:field="*{userCurrency}" class="form-control" required>
	                    <option value="" disabled selected>Select Currency</option>
	                    <option th:each="curr : ${currencies}" th:value="${curr}" th:text="${curr}"></option>
	                </select>
	            </div>
	            <div class="form-group">
	                <label for="language">Language</label>
	                <select id="language" th:field="*{userLanguage}" class="form-control" required>
	                    <option value="" disabled selected>Select Language</option>
	                    <option th:each="lang : ${languages}" th:value="${lang}" th:text="${lang}"></option>
	                </select>
	            </div>
				<button type="submit" class="btn btn-primary">Create User</button>
				<a href="/users" class="btn btn-danger">Cancel</a>
	        </form>
	    </div>
	</div>

</body>
</html>
