<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Shopping List</h1>
    <a th:href="@{/users/create}" class="btn btn-primary">Create User</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Quantidade</th>
				<th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="shoppingList : ${users.shoppingList}">
                <td th:text="${user.shoppingList.id}"></td>
                <td th:text="${user.shoppingList.product.name}"></td>
				<td th:text="${user.shoppingList.quantity}"></td>
                <td>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-warning">Edit</a>
                    <a th:href="@{/shopping-list/{userId}(userId=${user.id})}" class="btn btn-info">View Shopping List</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
