<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">
        <div class="sidebar bg-light" style="height: 100vh; padding: 15px;">
            <h4>Menu</h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/markets}" href="#">Markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
